h1 {
    text-align: center;
}

.container {
    height: 550px;
    width: 550px;
    display: flex;
}

.square {
    flex-grow: 1;
    min-height: 2px;
    outline: 0.2px solid black;
}

.column {
    flex-grow: 1;
    min-height: 2px;
    outline: 0.2px solid black;
}