* {
    box-sizing: border-box;
}

#container {
    border: 2px;
    margin: auto;
    padding: 0px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
